{% extends "config/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4 mx-md-4">О нас</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
    <div class="mx-md-4">
        <p>Мы - команда энтузиастов, стремящихся создать удобную платформу для обмена книгами. Наша миссия - сделать книги доступными для всех и способствовать развитию культуры чтения.</p>
        <p>На нашем сайте вы можете найти широкий выбор книг различных жанров и авторов, а также общаться с другими любителями литературы. Мы верим, что обмен книгами - это не только способ расширить свою библиотеку, но и возможность познакомиться с новыми людьми и поделиться своими впечатлениями от прочитанных произведений.</p>
        <p>Спасибо, что выбрали наш сайт для обмена книгами! Мы надеемся, что вы найдете здесь много интересного и полезного для себя.</p>
        {% comment %} <p>{{ my_url }}</p> {% endcomment %}
    </div>
    {% endif %}
</div>
{% endblock %}
