{% extends "config/base.html" %}

{% block title %}Add book{% endblock %}

{% block content %}
<div class="container">
    <h1>Введите данные о книге</h1>
    {% if message %}
        {% if message.type == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message.text }}
        </div>
        {% elif message.type == "error" %}
        <div class="alert alert-danger" role="alert">
            {{ message.text }}
        </div>
        {% endif %}
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{% url 'core:add_book' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить книгу</button>
    </form>
</div>
{% endblock %}
